@import (less) "styles/bootstrap.min.css";
@import "../node_modules/toastr/toastr.less";
@import "styles/m-modal.less";

body {
	margin-top: 64px;
}

.m-modal {
	z-index: 1050;

	&-dialog {
		background:#fff;
		border: 1px solid #aaa;
		box-shadow: 0px 0px 10px #ccc;
		//min-height:400px;
		padding:10px;
		width:600px;
	}

	&-overlay {
		background: rgba(255, 255, 255, 0.8);
		z-index: 1049;
	}

	&-close {
		&:hover {
			text-decoration: none;
		}
	}
}

.loader-overlay {
	background: url('assets/ajax-loader.gif') no-repeat center center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.loader {
	background: url('assets/ajax-loader.gif') no-repeat center center;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.hide {
	display: none;
}

.request-loader {
	.loader-overlay();
	background-color: #fff;
	opacity: 0.8;
	z-index: 100000;
}

.app-loader {
	.loader-overlay();
}

table.propeditor {
	tr {
		td, th {
			border: 1px solid #ddd;
			vertical-align: middle;
		}
	}
}